@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light mode */
html {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html {
      color-scheme: light;
  }
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}




